ENVIRONMENT=local
PROJECT_VERSION=2026.2
DATABASE_URL=sqlite+aiosqlite:///./rocketlab.db
BACKEND_CORS_ORIGINS=["http://localhost:5173"]
LOG_LEVEL=INFO
SECRET_KEY=XW7btlZt1RUoJig1xRk0Gk1xSHO22n9igKHx00qPgOs
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ADMIN_EMAIL=admin@rocketlab.dev
ADMIN_PASSWORD_HASH=